# ПАРОЛЬ АДМИНИСТРАТОРА (Смените для защиты /admin)
NEXT_PUBLIC_ADMIN_PASSWORD=1234

# КОНФИГУРАЦИЯ FIREBASE (Публичные ключи)
NEXT_PUBLIC_FIREBASE_PROJECT_ID=studio-7014233606-4de9e
NEXT_PUBLIC_FIREBASE_APP_ID=1:764584273022:web:dd5f4b95c21108431f642f
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDusyJImX8N4VScBkJdFX1kzu09iOhIvQU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=studio-7014233606-4de9e.firebaseapp.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=764584273022

# GOOGLE AI (GENKIT) - Для генерации тем в Студии Стилей
GOOGLE_GENAI_API_KEY=vash_kluch_esli_nuzhno_na_servere
